<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Room</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='indexcss.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      integrity="undefined"
      crossorigin="anonymous"
    />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>
  <body class="chatbody">
    <h1 style="text-align: left; padding-left: 25px; margin: 8px">Chat Room</h1>
    <div id="msgs">
      <div id="suggestion" style="display: flex; width: 100%"></div>
    </div>
    <form id="message_submit" class="senderbox">
      <input id="message_input" type="text" />
      <button type="submit">Send</button>
    </form>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.1/socket.io.js"></script>
  <script>
    // Connect to websocket
    const socket = io.connect(
      location.protocol + "//" + document.domain + ":" + location.port
    );

    socket.on("connect", function () {
      socket.emit("join_room", {
        username: "{{ username }}",
        room_id: "{{ room_id }}",
      });
      let message_input = document.getElementById("message_input");
      document.getElementById("message_submit").onsubmit = function (e) {
        e.preventDefault();
        let message = message_input.value.trim();
        if (message.length) {
          socket.emit("send_message", {
            username: "{{ username }}",
            room_id: "{{ room_id }}",
            message: message,
          });
        }
        message_input.value = "";
        message_input.focus();
        const parent = document.getElementById("suggestion");
        while (parent.firstChild) {
          parent.firstChild.remove();
        }
      };

      document.getElementById("message_input").onchange = function (e) {
        e.preventDefault();
        const parent = document.getElementById("suggestion");
        while (parent.firstChild) {
          parent.firstChild.remove();
        }
        let message = message_input.value;
        if (message.length) {
          socket.emit("suggest_message", {
            username: "{{ username }}",
            room_id: "{{ room_id }}",
            message: message,
          });
        }
      };
    });

    socket.on("recieve_message", function (data) {
      if (data["username"] == "{{ username }}") {
        let newnode = document.createElement("div");
        newnode.classList.add("self-class");

        newnode.innerHTML = `<p class="show-read-more">${data.message}</p>`;

        document.getElementById("msgs").appendChild(newnode);
        var objDiv = document.getElementById("msgs");
        objDiv.scrollTop = objDiv.scrollHeight;
      } else {
        let newnode = document.createElement("div");
        newnode.classList.add("others-class");
        newnode.innerHTML = `${data.username}: &nbsp; ${data.message}`;
        document.getElementById("msgs").appendChild(newnode);
      }
    });

    socket.on("recieve_suggest_message", function (data) {
      if (data["username"] == "{{ username }}") {
        let newSugest = document.createElement("div");

        let str = "";
        for (let i = 0; i < data["suggestion"].length; i++) {
          str += `<input type="button" id="suggestion${i}" style="width: 100px" value=${data.suggestion[i]}>`;
          console.log(i,"----",str)
        }
        newSugest.innerHTML = str;
        document.getElementById("suggestion").append(newSugest);

        for (let i = 0; i < data["suggestion"].length; i++) {
          console.log(i,"------",document.getElementById(`suggestion${i}`))
          document
            .getElementById(`suggestion${i}`)
            .addEventListener("click", function (e) {
              var input = document.getElementById("message_input").value;
              var temp = input;
              if (!input.endsWith(" ")&&temp.split(' ').length>1) {
                const arr = input.split(" ");
                arr.splice(arr.length - 1);
                document.getElementById("message_input").value =
                  arr.join("  ") + " " + data.suggestion[i] + " ";

              } else document.getElementById("message_input").value += " " + data.suggestion[i] + " ";

              const parent = document.getElementById("suggestion");
              while (parent.firstChild) {
                parent.firstChild.remove();
              }
              let message = message_input.value;
              if (message.length) {
                socket.emit("suggest_message", {
                  username: "{{ username }}",
                  room_id: "{{ room_id }}",
                  message: message,
                });
              }
            });
        }
      }
    });

    socket.on("join_room_announcement", function (data) {
      console.log(data);
      let newnode = document.createElement("div");

      newnode.classList.add("joinannounce");
      newnode.innerHTML = `${data.username} has joined room on ${date()}`;
      document.getElementById("msgs").appendChild(newnode);
    });

    function date() {
      var d = new Date();
      h = d.getHours();
      m = d.getMinutes();
      console.log(h, m);
      time = h + ":" + m;
      return time;
    }
  </script>
</html>
